@*@model List<Root>*@
@{
    ViewData["Title"] = "RecipeInstruction";
}

@*<p>@Html.DisplayFor(model => model.steps)</p>*@
<div>
     @foreach (Instructions item in Model)
    {
    <p>
            @Html.DisplayFor(model => item.steps)
     </p>
    }
</div>



