@*@model List<Root>*@
    @model RecipeData
@{
    ViewData["Title"] = "RecipeInstruction";
}

@*<p>@Html.DisplayFor(model => model.steps)</p>*@
@*<div>
     @foreach (RecipeData item in Model)
    {
    <p>
            @Html.DisplayFor(model => item.steps)
     </p>
    }
</div>*@



